
@media only screen and (max-width:1200px){
    .video video{
        width: 450px;
      }
}
@media only screen and (max-width:991px){
    .img-container{
        width: 150px;
        height:200px;
      }
      .img-caption a h3{
          font-size: 70%;
      }
      .img-bottom img{
        width: 450px;
        height: 150px;
        
    }
}
@media only screen and (max-width:767px){
    .toggle{
        font-size: 23px;
    }
    .language img{
        width: 70%;
    }
    .img-section-1{
        text-align: center;
    }
    .menu-title ul li a{
        font-size: 16px;
    }
    .title-2 h2 a{
        font-size: 60%;
    }
    .title-sec-1 h4{
        font-size: 17px;
    }
    .title-sec-1 p{
        font-size: 12px;
    }
    .img-section-1 img{
        width: 30%;
    }
    .title-sec-box-2 span a{
        font-size: 15px;
      
      }
      .title-sec-box-2 h2{
          font-size: 20px;
      }
      .title-sec-box-2 p a{
          font-size: 13px;
      }
      .thumbnail .list-group-image{
        height: 200px;
      }
      .caption .list-group-item-text{
          font-size: 15px;
      }
      .caption h4 a{
        font-size: 12px;
      }
      .caption p a{
          font-size: 50%;
      }

      .swiper-slide {
        width: 250px;
        height: 350px;

    }
    .text-title-sec-3{
        font-size: 70%;
      }
      .text-content-sec-3{
          font-size: 15px;
      }
      .title-sec-3 h3{
          font-size: 16px;
      }
      .box-sec-2 img{
        height: 250px;
    }
    .title-library a{
        font-size: 95%;
    }
    .img-bottom h5{
        font-size: 70%;
     }
     .img-bottom p{
         font-size: 80%;
     }
     .title-main{
        margin-bottom: 5px;
    }
}
@media only screen and (max-width:741px){
    .menu-title ul li a{
        font-size: 13px;
    }
    .menu-title ul li{
        margin-right: 1px;
    }
}
@media only screen and (max-width:681px){
    .img-container{
        width: 100px;
        height:150px;
      }
      .text-library{
          font-size: 70%;
      }
      .btn{
          width: 15%;
          font-size: 60%;
      }
      .nav-tabs li a{
          font-size: 80%;
      }
      .img-bottom img{
        width: 400px;
        height: 100px;
    }
    .img-bottom h5{
       font-size: 70%;
    }
    .img-bottom p{
        font-size: 80%;
    }
}
@media only screen and (max-width:500px){
    .img-container{
        width: 100px;
        height: 150px;
      }
      .btn{
        width: 20%;
        font-size: 40%;
    }
    .img-bottom img{
        width: 360px;
        height: 80px;
    }
    .img-bottom h5{
       font-size: 60%;
    }
    .img-bottom p{
        font-size: 70%;
    }
    .video video{
        width: 350px;
        height: 200px;
      }
}
@media only screen and (max-width:444px){
    .menu-title ul li a{
        font-size: 12px;
    }
    .menu-title ul li{
        margin-right: none;
    }
    .img-container{
        width: 80px;
        height: 100px;
      }
      .text-library{
        font-size: 55%;
    }
    .img-caption a h3{
        font-size: 50%;
        
    }
    .nav-tabs li a{
        font-size: 70%;
    }
    .menu-title{
        display: none;
    }
    .box-sec-2 img{
        height: 240px;
    }
    .title-sec-box-2 span a{
        font-size: 15px;
    }
    .title-sec-box-2 h2{
        font-size: 20px;
    }
    .title-sec-box-2 p a{
        font-size: 13px;
    }
    .thumbnail .list-group-image{
        height: 100px;
      }
    .caption p a{
        font-size: 10px;
    }
    .caption h4 a{
        font-size: 70%;
    }
    .caption > p{
        font-size: 13px;
    }
    .img-bottom img{
        width: 360px;
        height: 60px;
    }
    .img-bottom h5{
       font-size: 60%;
    }
    .img-bottom p{
        font-size: 70%;
    }
    
}
@media only screen and (max-width:411px){
    .header-top-right li{
        margin-right:0px ;
    }
    .header-logo{
        padding-top: 5px;
        padding-left: 5px;
    }
    .header-top-right {
        margin: 0 auto;
    }
    .language img{
        width: 50%;
    }
    .toggle{
        font-size: 20px;
    }
    .caption .list-group-item-text{
        font-size: 12px;
    }
    .caption h4 a{
      font-size: 12px;
    }
    .caption p a{
        font-size: 60%;
    }
    
}
@media only screen and (max-width:375px){
    .caption .list-group-item-text{
        font-size: 10px;
    }
    .caption h4 a{
      font-size: 9px;
    }
    .title-sec-box-2 span a{
        font-size: 13px;
    }
    .title-sec-box-2 h2{
        font-size: 15px;
    }
    .title-sec-box-2 p a{
        font-size: 10px;
    }
    .swiper-slide {
        width: 200px;
        height: 250px;

    }
    .img-container{
        width: 60px;
        height: 80px;
      }
      .text-library{
        font-size: 40%;
    }
    .img-bottom img{
        width: 360px;
        height: 40px;
        
    }
    .img-bottom h5{
       font-size: 30%;
    }
    .img-bottom p{
        font-size: 40%;
    }
    .title-library a{
        font-size: 80%;
    }
    .video video{
        width: 300px;
        height: 180px;
      }
}
@media only screen and (max-width:320px){
    .header-top-right li p{
        font-size: 80%;
    }
    .banner{
        margin-top: -30px;
    }
    .glyphicon-search{
        font-size: 80%;
    }
    .title-sec-box-2 span a{
        font-size: 10px;
      
      }
      .title-sec-box-2 h2{
          font-size: 15px;
      }
      .title-sec-box-2 p a{
          font-size: 8px;
      }
      .caption .list-group-item-text{
        font-size: 8px;
    }
    .caption h4 a{
      font-size: 7px;
    }
    .caption p a{
        font-size: 40%;
    }
    .thumbnail .list-group-image{
        height: 80px;
      }
      .video video{
        width: 250px;
        height: 150px;
      }
}
@media only screen and (max-width:270px){
    .video video{
        width: 200px;
        height: 100px;
      }
}