@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Rokkitt&display=swap');
.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
  
/*menu full screen*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(89, 92, 89, 0.8);
    overflow-x: hidden;
    transition: 0.6s;
    }
    .overlay-content .title-overlay{
      font-size: 30px;
    }
    .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    }
    .overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
    color: #F4D21A;
    text-decoration: none;

    }
    .overlay .close {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 50px;
    }
    @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    }
    .overlay .menu-con a{
      font-size: 60%;
    }

    /* note*/
    img{
        max-width: 100% !important;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }
    /*header-top*/
    .language img{
        border-radius: 100%;
        width: 80%;
        margin-top: -10%;
    }
    .header-top-right li{
        margin-right:10px ;
    }
    .header-logo{
        padding-top: 10px;
        padding-left: 10px;
    }
    .toggle{
        font-size: 25px;
        cursor: pointer;
    }
    .header-menu{
        padding: 0 !important;
    }
    .navbar{
        margin: 0 !important;
    }

    
    /*slide-banner*/
    .jssorl-009-spin img {
      animation-name: jssorl-009-spin;
      animation-duration: 1.6s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }

  @keyframes jssorl-009-spin {
      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(360deg);
      }
  }


  .jssorb132 {position:absolute;}
  .jssorb132 .i {position:absolute;cursor:pointer;}
  .jssorb132 .i .b {fill:#fff;fill-opacity:0.8;stroke:#000;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.7;}
  .jssorb132 .i:hover .b {fill:#000;fill-opacity:.7;stroke:#fff;stroke-width:2000;stroke-opacity:0.8;}
  .jssorb132 .iav .b {fill:#000;stroke:#fff;stroke-width:2400;fill-opacity:0.8;stroke-opacity:1;}
  .jssorb132 .i.idn {opacity:0.3;}

  .jssora051 {display:block;position:absolute;cursor:pointer;}
  .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
  .jssora051:hover {opacity:.8;}
  .jssora051.jssora051dn {opacity:.5;}
  .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
    
    /*menu-title*/
    .menu-title ul li a{
        font-family: 'Rokkitt', serif;
        text-decoration: none;
        font-size: 20px;
        color:#222521;
        line-height: 5px;
    }
    .menu-title ul li{
        margin-right: 15px;
    }
    .menu-title ul{
        float: left;
        padding: 0 10px;
    }
    .pd-menu{
        padding: 0 10px !important;
        margin-top: 10px;
    }
    /* content*/
    .content-body{
        background-color: #F7F7F7;
    }
    /*section-1*/
    .box-sec-1{
        padding: 1% 0;
        margin-bottom: 1%;
    }
    .title-sec-1 p{
        text-overflow: ellipsis;
    }
    /*section-2*/
    .title-main{
        margin-bottom: 30px;
    }
    .title-main a{
        border-bottom: 5px solid #23527C;
        text-decoration: none;
    }
    .title-main a:hover{
        text-decoration: none;
    }
    .section-2{
        margin-top: 3%;
      }
      .box-sec-2{
        margin-bottom: 3%;
      }
      .box-sec-2 img{
        height: 370px;
      }
      .title-sec-box-2{
        top: 50%;
        position: absolute;
        text-overflow: ellipsis;
      
      
      }
      .title-sec-box-2 span a{
        font-size: 20px;
        text-decoration: none;
      
      }
      .title-sec-box-2 a{
        color: white;
      }
      .title-sec-box-2{
        color: white;
        margin-left: 5%;
      
      }
      .caption h4 a{
        font-family: 'Cinzel', serif;
        font-size: 15px;
        text-decoration: none;
      }
      .caption .list-group-item-text{
        font-family: 'Exo 2', sans-serif;
        font-size: 20px;
        color: #798595;
       
      }
      .caption p a{
        text-decoration: none;
        color: #798595;
        font-size: 70%;
      }
      .caption p a i{
        margin-right: 10px;
        
      }
      .thumbnail .list-group-image{
        height: 240px;
      }
      .item {
          padding: 20px !important;
      }
      /* section-3*/
      
      .section-3{
        background-image: url('../img/94.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 70%;
      }
      .box-3{
        color: white;
      }
      .video{
        padding-bottom: 7%;
      }
      
      /*section-4*/
    

      .section-4{
        margin-top: 3%;
    }
    .heading{
      text-align: center;
      margin: 1em auto;
      font-size: 2.25em;
      text-decoration: underline;
    }
    
    .hover-img{
      width: 25%;
      float: left;
      padding: 20px 0;
    }
    
    .img-container{
      width: 15.625em;
      height: 300px;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
    }
    
    .img-caption{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      padding-top: 3em;
      background: #A8A8A8;
      background: rgba(0, 0, 0, .4);
      color: #fff;
      cursor: pointer;
      text-align: center; 
      font-size: 1.2em;
      border-radius: 5px;
      transition: all 0.8s ease-out;
    }
    
    .img-caption a{
        color: #fff;
    }
    
    .img-container:hover .img-caption{
        opacity: 0;
    }
    .bottom-left{
        top: 100%;
        left: -100%;
    }
    .top-right{
      top: -100%;
      left: 100%;
    }
    .img-container:hover .img-caption{
        top: 0;
        left: 0;
        transition: all 0.6s ease-out;
    }
    .img-container:hover .img-caption {
        opacity: 1;
    }
    .title-library a{
        text-decoration: none;
        font-size: 20px;
        color: #57A256;
        font-weight: bold;
        border-bottom: 3px solid #57A256;
    }
    .btn{
        text-align: center;
        background-color: rgba(103, 184, 103, 0.8);
        font-weight: bold;
    
    }
    .btn:hover{
        background-color: white;
        border: 1px solid #222521;
        color: #57A256;
        font-weight: bold;
    }
      /*section-5*/
      
      .section-5{
        margin-top: 3%;
        background-image: url('../img/92.jpg');
        background-size: cover;
        background-position: 20% 40%;
        width: 100%;
        height: 400px;
      }
      .title-sec-5{
        color: white;
        padding-top: 3%;
        padding-left: 3%;
      }
    /*footer*/

    .list-footer li{
      list-style: none;
      padding: 5px;
    }
    .list-footer{
      padding: 0 !important;
    }
    footer{
      background-color: #595C59;
      margin-top: 3%;
      padding-top: 3%;
    
    }
    footer a{
      color: white;
      text-decoration: none
    }
    footer a:hover{
      color: white;

    }
    .title-footer{
      font-size: 20px;
    }
   

    